//Colors
$background-color: rgb(22, 22, 24);
$background-color-light: rgb(49, 49, 50);
$background-container: rgba(0, 0, 0, 0.8);

$primary-color: #3c87de;
$primary-color-hover: #ffffff;

$secondary-color: #707070;
$secondary-color-hover: #000000;

//Buttons
$font-light: #fff;
$font-grey: #707070;
$font-dark: #313132;

$border-light: #3c87de;
$border-grey: #707070;
$border-dark: #313132;

$background-light: #3c87de;
$background-grey: #707070;
$background-dark: #313132;
