@import "./_variables.scss";
@import "./_colors.scss";

@media (max-width: $media-breackpoint-up-sm) {
  .task-input-update {
    width: 100% !important;
  }
  .task-button-update {
    width: 100% !important;
    border-radius: 0px !important;
  }
}

.task-input-update {
  padding: 14px 32px 14px 16px;
  border-radius: 0px;
  border: 2px solid $border-dark;
  outline: none;
  width: 200px;
  background: transparent;
  color: $font-light;
  &::placeholder {
    color: $font-light;
  }
}

.task-button-update {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: $background-dark;
  color: $font-light;
  text-transform: capitalize;
}

.task-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: $font-light;
  background-color: #3c87de;

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: $font-light;
}

.edit-icon {
  color: $font-light;
}
